html {
    height: fit-content;
}

body {
    width: 340px;
    height: fit-content;
    padding-left: 2px;
    padding-right: 2px;
}

.sidenav {
    width: 66%;
}

.container {
    margin-top: 10px;
    margin-bottom: 20px;
}

.row {
    margin-bottom: 0;
}

.additional-fields span {
    color: #9e9e9e;
    cursor: pointer;
}
