html {
    height: fit-content;
    min-width: 340px;
}

body {
    width: 100%;
    height: fit-content;/*
    padding-left: 2px;
    padding-right: 2px;*/
}

.sidenav {
    width: 66%;
}

.container {
    margin-top: 10px;
}

.row {
    margin-bottom: 0;
}

.additional-fields span {
    color: #9e9e9e;
    cursor: pointer;
}

.hidden-field-visible {
    display: flex;
}

.close-hidden-field-visible {
    color: #9e9e9e;
    cursor: pointer;
}
